# ============================================
# CONFIGURACIÓN DEL SERVIDOR
# ============================================
PORT=4015
NODE_ENV=development

# ============================================
# CONFIGURACIÓN DE LA BASE DE DATOS
# ============================================
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=4013
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=JOTAMATERA_DB
DB_SYNCHRONIZE=true
DB_AUTO_LOAD_ENTITIES=true

# ============================================
# CONFIGURACIÓN DE CORS
# ============================================
CORS_ORIGIN=http://localhost:5173
